[Unit]
Description=Controller
After=ngrok.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python /home/toka/controller/controller.py

[Install]
WantedBy=default.target
