[Unit]
Description=Ngrok on 8888
After=network-online.target

[Service]
Type=simple
User=toka
ExecStart=/usr/bin/tunnel.sh

[Install]
WantedBy=default.target
